<mat-card class="m-10">
  <mat-form-field class="w-full">
    <mat-label>Provide text you want to check for plagiat</mat-label>
    <textarea
      [(ngModel)]="model"
      matInput
      rows="15"
      placeholder="Here goes your text..."
    ></textarea>
  </mat-form-field>
  <div class="flex justify-end">
    <button [disabled]="!model" (click)="checkForPlagiarism()" mat-button>
      Check for plagiarism
    </button>
  </div>
</mat-card>

<div class="flex justify-center mt-10">
  <mat-spinner *ngIf="loading; else results"></mat-spinner>
  <ng-template #results>
    <div class="text-2xl" *ngIf="result || result === 0">Result: {{ result }}% original</div>
  </ng-template>
</div>
