<ng-container *ngIf="(alerts$ | async)?.reverse() as alerts">
  <div @alertLeave [@alertEnter]="alerts.length" *ngIf="alerts.length">
    <div
      @alertLeave
      *ngFor="let alert of alerts; index as index; key: 'index'"
      [ngClass]="{ 'shadow-xl': index >= alerts.length - alertsLimit }"
      [style.background-color]="settings[alert.type].color"
      class="fixed app-alert"
    >
      <mat-icon>{{ settings[alert.type].icon }}</mat-icon>
      <span class="alert-text">{{ alert.text }}</span>
      <button
        matTooltip="Skip this notification"
        class="next-alert"
        mat-icon-button
        (click)="skipAlert()"
      >
        <mat-icon>arrow_forward</mat-icon>
      </button>
      <mat-progress-bar
        color="primary"
        *ngIf="index === alerts.length - 1 && loading"
        [value]="loading"
      ></mat-progress-bar>
    </div>
  </div>
</ng-container>
