:root {
  --radius: 8px;
  --transition: cubic-bezier(0.075, 0.82, 0.165, 1);

  /* Colors light theme */

  --primary: #6f81f1;
  --text-color: #29344d;
  --background: white;

  --white: #fff;
  --black: #29344d;

  --success: #62ce7f;
  --error: #e44c27;
  --info: #377ace;
  --warning: #f3b627;
}

/* Colors dark theme */

.theme-dark {
  --background: #2d2f35;
  --text-color: white;
}
